@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&display=swap');
html, body{
    height:100%;
    width:100%;
    margin:0;
    padding: 0;  
    font-family: 'Roboto', sans-serif;
}

header{
    position:sticky;
    top: 0;
    background: white ;
    height: 66px;
}
.right_box{
    display: flex;
    margin: 12px;
}



.left img{
    width:32px;
    height:23px;
}


.container{
    padding: 0 10vw;
}

.containerHeader{
    padding: 0 10vw;
}

nav{
    font-size: 12px;
    padding-top: 14px;
}
nav ul li{
    list-style: none;
    padding:0 12px;
}

.section1{
    background: #ffffff;
    
}

.search{
    width: 34vw;
    padding: 4px 17px;
    border: 0.5px solid #dddddd;
    background: #f8f7f7;
}

.homeImg{
    width: 80vw;
    margin: 12px 0px;
}

.text-banner-title{
    width: 100%;
}

.itemImg{
    width:10vw;
    margin: 6px 8.3px;
}

footer{
    padding: 23px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; ;
}

.tall{
    min-height: 80vh;
}

@media(max-width:1550px){
    nav ul li{
        list-style: none;
        padding:0 4px;
        font-size: 10px;
    }

    header{
        height: 122px;
    }

    nav{
        flex-direction: column;
        align-items: center;
    }

    .right{
        flex-direction: column;
        
    }
    .right_box{
        display: flex;
        margin: 12px;
    }

    .containerHeader {
        padding: 0 2vw;
    }

    .search {
        width: 76vw;
        padding: 4px 17px;
        border: 0.5px solid #dddddd;
        background: #f8f7f7;
    }
}